* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
header {
    padding: 20px 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
button, button:focus, input {
    outline: transparent;
}
/* //////////////////////// */
input {
    outline: none;
}
.menu{
    padding: 0 1rem;
}
.nav .nav-link:hover,
.nav .nav-link:active,
.nav .nav-link:focus-within {
    color: #343a40;
    background: rgba(255,255,255,.75);;
    text-transform: uppercase;
}
.search {
    background: #343a40;
    border: 1px solid #686c71;
    border-left: none;
    background-color: -internal-light-dark-color(#343a40, black);
}
.search-span {
    background: #343a40;
    border: 1px solid #686c71;
    border-right: none;
}
.menu-item {
    border: 1px solid #686c7140;
}
.menu-item + .menu-item {
    border-left: none;
}
.sort, .sort::after {
    color: rgba(255,255,255,.5);
}
.sort:hover {
    color: rgba(255,255,255,.75);
}
/* ----basket------ */
.basket {
    margin-left: 20px;
}
.basket_btn {
    color: #fff;
    margin-left: 8px;
}
.basket_btn i {
    font-size: 22px;
    margin-top: 3px;
}
.basket_btn:hover {
    color: rgba(255,255,255,.75);;
}
.basket_counter {
    border-radius: 50%;
    background-color: #21bb46;
    color: #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 12px;
}
/* ---card---- */
.card {
    box-shadow: 11px -8px 8px -2px rgba(0, 0, 0, 0.27);
}
.card-img-wrapper {
    width: 100%;
    height: 310px;
    cursor: pointer;
}
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.card-title {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}
.card-text {
    color: #c6c6c6;
}
.card-age{
    color: #858585;
}
.card-price {
    color: #a2a1a1;
}
.card-link {
    width: 48%;
    padding: 10px 0;
    border: 1px solid red;
    text-align: center;
    display: inline-block;
}
.card-link + .card-link {
    margin-left: 0;
}
.card-link_green {
    color: #60cc78;
    border-color: #60cc78;
}
.card-link_green:hover {
    background: #60cc78;
    color: #fff;
}
.card-link_blue {
    color: #5787ad;
    border-color: #5787ad;
}
.card-link_blue:hover {
    background: #5787ad;
    color: #fff;
}
/* pagination */
.page {
    border-radius: 5px;
    cursor: pointer;
}
.page:hover {
    opacity: 0.6;
}
.page_word {
    padding: 5px 25px;
    background: #e0e1e2;
    color: #727272;
}
.page_arrow {
    background: #d6d7d8;
    color: #636464;
    padding: 5px 10px;
}
.page_first {
    margin: 0 10px;
}
.page_last {
    margin: 0 10px;
}
.page.disabled {
    opacity: 0.5;
}
